@model ddac.Models.ship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Classic_Cabin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Classic_Cabin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Luxury_Cabin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Luxury_Cabin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Classic_Cabin_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classic_Cabin_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luxury_Cabin_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luxury_Cabin_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
